<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>

<body>
    <div class="container">
       <!--  <div class="title">
            <h3 class="mt-5">Selecciona una opción.</h3>
        </div> -->
        
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-image">
                        <!-- <a routerLink ="../programa"> -->
                            <a routerLink="/programaAnios">

                            <img class="img" src="assets/img/263-network-1.svg">
                            <!-- <div class="card-title"> -->
                                <!-- Informacion sobre programas del presupuesto municipal -->
                            <!-- </div> -->
                        </a>

                    <!-- <div class="colored-shadow" 
                    style="background-image: url('https://i.ytimg.com/vi/7xWxpunlZ2w/maxresdefault.jpg');
                    opacity: 1;">
                    </div> -->
                </div>

                <div><h4 class="card-title">Información por programa.</h4> </div>
                    
                
                <!-- <div class="card-title "> -->
                        <!-- <h4 class="card-category text-info">Información por programa.</h4> -->
                        <!-- <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                           In perspiciatis soluta voluptatibus tempora saepe, rem cum veritatis tempore nihil, 
                           excepturi temporibus quae ullam officia, iusto omnis! Soluta nulla debitis ipsa!</p> -->
                    <!-- </div> -->

                   <!--  <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div> -->
                </div>
            </div>


            
            <div class="col-md-4">
                <div class="card card-profile"><div class="card-header card-header-image">
                    <a routerLink="/economicos">
                    <!-- <a href="#pablo"> -->
                        <img class="img" src="assets/img/031-laptop-30.svg">
                    </a>
                <!-- <div class="colored-shadow" style="background-image: url('https://zsuttonphoto.com/wp-content/uploads/2014/02/Albuquerque-Portrait-Photography-11.jpg'); opacity: 1;"></div></div><div class="card-body ">
                    <h4 class="card-title">Información por económico.</h4>
                   // <h6 class="card-category text-gray">Detalles</h6>-->
                </div> 
                
<div><h4 class="card-title">Información por económico.</h4> </div>

               <!--  <div class="card-footer justify-content-center">
                    <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round">
                        <i class="fa fa-twitter"></i>
                        <div class="ripple-container"></div>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-google btn-round">
                        <i class="fa fa-google"></i>
                    </a>
                </div> -->
            </div>
                
            </div>
            
            <!-- <div class="col-md-4">
                <div class="card card-profile">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" src="assets/img/team-1.jpg">
                    </a>
                  </div>
                  <div class="card-body ">
                        <h6 class="card-category text-gray">Más información</h6>
                        <h4 class="card-title">Detalles</h4>
    
                        <p class="card-description">
                           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic molestias, 
                           laudantium odit earum soluta qui autem quis aut, incidunt quaerat enim ut non sequi.
                            Quas mollitia quam tempora soluta fugit.
                        </p>
                        <a href="#pablo" class="btn btn-info btn-round">Ver</a>
                    </div>
                 </div>
            </div> -->

        </div>
    </div>
    
     <!-- <footer class="footer text-center ">
        <p>Made with <a href="https://demos.creative-tim.com/material-kit/index.html" target="_blank">Material Kit</a> by Creative Tim</p>
    </footer>
     -->
    
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

</body>